image: node:14.4

stages:
  - test
  - build

e2e:firefox:
  stage: test
  artifacts:
    name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
    paths:
      - ./reporters
  services:
    - name: selenium/standalone-firefox
  variables:
    HOSTNAME_DRIVER_FIREFOX: selenium__standalone-firefox
  script:
    - yarn
    - yarn test
    - ls -ltra

e2e:chrome:
  stage: build
  artifacts:
    name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
    paths:
      - ./reporters
  script:
    - yarn
    - yarn test
    - ls -ltra
  services:
    - name: selenium/standalone-chrome
  variables:
    HOSTNAME_DRIVER_CHROME: selenium__standalone-chrome
