image: node:14.4

stages:
  - test
  - deploy

.e2e:base: &base
  stage: test
  script:
    - yarn
    - yarn test
  artifacts:
    expire_in: 30 days
    name: 'Reporters-$CI_JOB_NAME-$CI_COMMIT_REF_NAME__$CI_COMMIT_SHORT_SHA'
    when: always
    paths:
      - ./reporters

e2e:firefox:default:
  <<: *base
  services:
    - name: selenium/standalone-firefox
  variables:
    HOSTNAME_DRIVER_FIREFOX: selenium__standalone-firefox

e2e:chrome:default:
  <<: *base
  services:
    - name: selenium/standalone-chrome
  variables:
    HOSTNAME_DRIVER_CHROME: selenium__standalone-chrome

e2e:firefox:
  <<: *base
  services:
    - name: selenium/standalone-firefox
  variables:
    HOSTNAME_DRIVER_FIREFOX: selenium__standalone-firefox

e2e:chrome:
  <<: *base
  services:
    - name: selenium/standalone-chrome
  variables:
    HOSTNAME_DRIVER_CHROME: selenium__standalone-chrome

pages:
  image: openjdk:15-alpine
  stage: deploy
  when: always
  artifacts:
    name: 'Allure-$CI_JOB_NAME-$CI_COMMIT_REF_NAME__$CI_COMMIT_SHORT_SHA'
    paths:
      - public
  variables:
    GIT_STRATEGY: none
  script:
    - apk add --update nodejs nodejs-npm
    - npx allure-commandline generate reporters/allure
    - mv ./allure-report public
