image: node:14.4

stages:
  - test
  - deploy

cache:
  paths:
    - ./reporters

.e2e:base: &base
  stage: test
  script:
    - yarn
    - yarn test

e2e:firefox:
  <<: *base
  services:
    - name: selenium/standalone-firefox
  variables:
    HOSTNAME_DRIVER_FIREFOX: selenium__standalone-firefox

e2e:chrome:
  <<: *base
  services:
    - name: selenium/standalone-chrome
  variables:
    HOSTNAME_DRIVER_CHROME: selenium__standalone-chrome

pages:
  image: openjdk:15-alpine
  stage: deploy
  artifacts:
    name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
    paths:
      - public
  variables:
    GIT_STRATEGY: none
  script:
    - apk add --update nodejs nodejs-npm
    - npx allure-commandline generate reporters/allure
    - ls -ltra
    - mv ./allure-report public
