image: node:14.4

stages:
  - test
  - deploy

cache:
  paths:
    - ./reporters

e2e:firefox:
  stage: test
  services:
    - name: selenium/standalone-firefox
  variables:
    HOSTNAME_DRIVER_FIREFOX: selenium__standalone-firefox
  script:
    - yarn
    - yarn test
    - ls -ltra

e2e:chrome:
  stage: test
  script:
    - yarn
    - yarn test
    - ls -ltra
  services:
    - name: selenium/standalone-chrome
  variables:
    HOSTNAME_DRIVER_CHROME: selenium__standalone-chrome

pages:
  stage: deploy
  artifacts:
    name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
    paths:
      - public
  variables:
    GIT_STRATEGY: none
  script:
    - ls -ltra
    - mv .reporters public
